
.predictionContainer{
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.mat-column-result{
  flex: 1 1 40%;
}

.predictionContainer .mat-row:nth-child(even){
  background: rgba(0,0,0,.03);
}
.predictionContainer .mat-row{
  height: 60px;
  position: relative;
}

.predictionContainer .mat-column-result{
  text-align: center;
}


@media screen and (max-width: 992px) {
  .predictionContainer .mat-row{
    height: 100px;
  }
}

@media screen and (max-width: 640px) {
  .predictionContainer .mat-row{
    height: 100px;
  }
}

.labelScore{
  font-size: 14px !important;
}
 .mat-column-HomeTeam,.mat-column-AwayTeam{
  flex: 1 1 20%;
}

.mat-column-Day, .mat-column-Select{
  flex: 1 1 20px;
}

@media screen and (max-width: 640px) {
  .mat-column-HomeScore, .mat-column-AwayScore{
    flex: 1 1 20%;
  }
  .mat-column-HomeTeam,.mat-column-AwayTeam{
    flex: 1 1 10%;
  }
}

.mat-column-HomeScore, .mat-column-AwayScore{
  flex: 1 1 10%;
}
/*
.mat-column-Info{
  flex: 1 1 6%;
}
*/
