<div class="container cardContainer">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 id="profileMsg" class="display-4">Profile Page</h1>

        <p>User Name: {{authService.currentUser.username}}</p>

        <p>Email: {{authService.currentUser.email}}</p>

        <p>First Name: {{authService.currentUser.firstname}}</p>

        <p>Last Name: {{authService.currentUser.lastname}}</p>

        <p>Account Enabled: {{authService.currentUser.enabled}}</p>
      </div>

    </div>
  </div>

</div>
