<div class="standingContainer mat-white-bg container">
  <div class="row" fxLayout="column" *fuseIfOnDom [@animate]="{value:'*',params:{y:'100%'}}">

    <mat-progress-bar
      *ngIf="onSearch"
      [color]="'primary'"
      [mode]="'indeterminate'">
    </mat-progress-bar>

    <mat-divider></mat-divider>
    <mat-table #table class="w-100-p" [dataSource]="players">

      <!-- Rank -->
      <ng-container matColumnDef="Rank" >
        <mat-header-cell *matHeaderCellDef >Rank</mat-header-cell>
        <mat-cell *matCellDef="let element">

        </mat-cell>
      </ng-container>

      <!-- Player -->
      <ng-container matColumnDef="Player" >
        <mat-header-cell  *matHeaderCellDef >Player</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.username}}
        </mat-cell>
      </ng-container>

      <!-- Points -->
      <ng-container matColumnDef="Points" >
        <mat-header-cell  *matHeaderCellDef >Points</mat-header-cell>
        <mat-cell  *matCellDef="let element">
          {{element.points}}
        </mat-cell>
      </ng-container>

      <!-- GoodPrediction -->
      <ng-container matColumnDef="GoodPrediction" >
        <mat-header-cell *matHeaderCellDef >GoodPrediction</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.goodPronostic}}
        </mat-cell>
      </ng-container>

      <!-- ExactResult -->
      <ng-container matColumnDef="ExactResult" >
        <mat-header-cell  *matHeaderCellDef >ExactResult</mat-header-cell>
        <mat-cell  *matCellDef="let element">
          {{element.exactPronostic}}
        </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
