<div class="rankingContainer container">
  <div class="row">

    <div class="paginator-container">

      <div class="w-100-p py-16" fxLayout="row" fxFlex fxLayoutAlign="center center">
<!--
        <mat-form-field >
          <mat-select [(ngModel)]="matchday" (selectionChange)="getRankingAtMatchDay()">
            <mat-option *ngFor="let day of totalmatch" [value]="day"> Classement de la {{day}}ème journée</mat-option>
          </mat-select>
        </mat-form-field>-->

        <sui-pagination
                        *ngIf="matchday"
                        [(page)]="matchday"
                        (pageChange)="getRankingAtMatchDay()"
                        [hasNavigationLinks]="true"
                        [hasBoundaryLinks]="true"
                        [collectionSize]="lastmatch"
                        [pageSize]="1"
                        [maxSize]="4"
                        [canRotate]="true"
                        [hasEllipses]="false">
        </sui-pagination>
      </div>

    </div>


    <mat-progress-bar
      *ngIf="onSearch"
      [color]="'primary'"
      [mode]="'indeterminate'">
    </mat-progress-bar>


    <mat-table #table [dataSource]="ligue1Ranking" matSort>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <span fxHide fxShow.gt-sm>Position</span> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.position}}
        </mat-cell>
      </ng-container>

      <!-- Equipe -->
      <ng-container matColumnDef="teamName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Ranking.equipe' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="name-blason">
            <div class="blason {{ getClass(element.teamName) }}" ></div>
            <span fxHide fxShow.gt-sm>{{element.teamName}}</span>
          </div>
        </mat-cell>
      </ng-container>

      <!-- Points -->
      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Points </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.points}}</mat-cell>
      </ng-container>

      <!-- Matchs joués -->
      <ng-container matColumnDef="playedGames">
        <mat-header-cell *matHeaderCellDef mat-sort-header>J</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.playedGames}} </mat-cell>
      </ng-container>

      <!-- Gagné -->
      <ng-container matColumnDef="wins">
        <mat-header-cell *matHeaderCellDef mat-sort-header> G </mat-header-cell>
        <mat-cell *matCellDef="let element" class="green">{{element.wins}}</mat-cell>
      </ng-container>

      <!-- Nul -->
      <ng-container matColumnDef="draws">
        <mat-header-cell *matHeaderCellDef mat-sort-header> N </mat-header-cell>
        <mat-cell *matCellDef="let element" class="orange">{{element.draws}}</mat-cell>
      </ng-container>

      <!-- Perdus -->
      <ng-container matColumnDef="losses">
        <mat-header-cell *matHeaderCellDef mat-sort-header> P </mat-header-cell>
        <mat-cell *matCellDef="let element" class="red">{{element.losses}}</mat-cell>
      </ng-container>

      <!-- Buts -->
      <ng-container  matColumnDef="goals">
        <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef mat-sort-header>BM</mat-header-cell>
        <mat-cell fxHide fxShow.gt-sm *matCellDef="let element"> {{element.goals}} </mat-cell>
      </ng-container>

      <!-- Buts contre -->
      <ng-container matColumnDef="goalsAgainst">
        <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef mat-sort-header>BE</mat-header-cell>
        <mat-cell fxHide fxShow.gt-sm *matCellDef="let element" > {{element.goalsAgainst}} </mat-cell>
      </ng-container>

      <!-- Goal difference -->
      <ng-container  matColumnDef="goalDifference">
        <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef mat-sort-header>Diff</mat-header-cell>
        <mat-cell fxHide fxShow.gt-sm *matCellDef="let element">
          {{element.goalDifference}}
        </mat-cell>
      </ng-container>

      <!-- Forme -->
      <ng-container  matColumnDef="forme">
        <mat-header-cell fxHide fxShow.gt-sm *matHeaderCellDef>Forme</mat-header-cell>
        <mat-cell  fxHide fxShow.gt-sm *matCellDef="let element">
          <div fxLayout="row" fxLayoutAlign="space-between start">
            <span *ngFor="let match of element.last5match" suiPopup popupPlacement="top" [popupTemplate]="popupTemplate" data-variation="wide" [ngClass]=" (isTeamWinMatch(element.team.name,match) == 'w') ? 'backGreen' : (isTeamWinMatch(element.team.name,match) ==
            'l') ? 'backRed' : 'backOrange'" class="dot">

              <ng-template let-popup #popupTemplate>
                <div class="formePopUp">
                  <p class="blason {{ getClass(match.homeTeamName) }}"></p>
                  <div class="ui label">{{match.result.goalsHomeTeam}}</div> -
                  <div class="ui label">{{match.result.goalsAwayTeam}}</div>
                  <p class="blason {{ getClass(match.awayTeamName) }}"></p>
                </div>
              </ng-template>
            </span>
          </div>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>


</div>
