.green
{
  color: #21ba45;
}
.red
{
  color: #db2828;
}
.orange{
  color: #fbbd08;
}
.backRed{
  background: #db2828 ;
}
.backGreen{
  background: #21ba45;
}
.backOrange{
  background: #fbbd08;
}
.backGray{
  background: #bbb;
}
.center
{
  text-align: center;
}

.page-select {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 15px;
  overflow: hidden;
  flex: 1 0 auto;
  justify-content: center;

  .label {
    margin: 0 4px;
  }
}

.paginator-container {
  display: flex;
  align-items: center;
  background: white;
  justify-content: space-between;
  width: 100%;
}

.rankingContainer{
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.rankingContainer .mat-table{
  width: 100%;
}
.rankingContainer .mat-header-row {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  position: sticky;
  top: -.5px;
  background: white;
  z-index: 100;
}

.rankingContainer .mat-row{
  height: 60px;
  position: relative;
}
/*
.rankingContainer .mat-row:hover{
  background: rgba(0,0,0,.03);
}*/



.mat-column-teamName {
  flex: 1 0 25%;
}
@media screen and (max-width: 640px) {
  .mat-column-teamName {
    flex: 1 0 20%;
  }
}

.mat-column-position,.mat-column-playedGames,.mat-column-wins,.mat-column-draws,.mat-column-losses,.mat-column-goals,.mat-column-goalsAgainst,.mat-column-goalDifference{
  flex: 1 0 6%;
}
.mat-column-points{
  flex: 1 0 10%;
}

.mat-column-forme{
  flex: 1 0 13%;
}


.blason {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.name-blason {
  display: flex;
  padding: 0px 5px;
}
.name-blason span{
  margin: auto 10px;
}
.rankingContainer .mat-row:nth-child(even){
  background: rgba(0,0,0,.03);
}
.dot{
  flex: 1;
  border-radius: 50%;
  margin: 5px;
  max-width: 15px;
}
.dot::before{
  content: "";
  display: block;
  padding-top: 100%;
}
