<div class="tab-container w-100-p" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">

  <div class="container-fluid  pt-8 pb-8 mat-light-blue-600-bg title-header">
    <div class="container">
      <div class="row">
        <div class="w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex fxLayout="column" >
            <h1>Ligue 1 2017-2018</h1>
            <h3>Public Contest</h3>
          </div>
          <div>
            <button mat-button > <mat-icon>star_rate</mat-icon> Participer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <mat-tab-group  (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" [(selectedIndex)]="selectedIndex" >

      <mat-tab  label="Championnat"> <app-ranking></app-ranking> </mat-tab>

      <mat-tab  label="Pronostics">Pronostics</mat-tab>

      <mat-tab  label="Paramètres">Paramètres</mat-tab>

      <mat-tab  label="Classement">Classement</mat-tab>

      <mat-tab  label="Messages">Messages</mat-tab>
    </mat-tab-group>

</div>


