@import "../../../../@fuse/scss/fuse";

:host {

    #mail-confirm {
      width: 100%;
      height: 100%;
      overflow: auto;
      background: url('../../../../assets/images/backgrounds/login-background.jpg') no-repeat;
      background-size: cover;
      background-position: bottom;

        #mail-confirm-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #mail-confirm-form {
                max-width: 480px;
                padding: 48px;
                background: #FFFFFF;
                text-align: center;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    margin: 0 auto 32px auto;
                }

                .title {
                    font-size: 20px;
                    margin-top: 16px;
                }

                .subtitle {
                    margin: 16px auto;
                    max-width: 300px;
                    color: rgba(0, 0, 0, 0.54);
                    font-size: 15px;
                }

                .message {
                    font-weight: 500;
                    text-align: center;
                    margin-top: 40px;
                }
            }
        }
    }
}
