<mat-progress-bar
  *ngIf="!competitionService.currentCompetition"
  [color]="'primary'"
  [mode]="'indeterminate'">
</mat-progress-bar>

<div class="tab-container w-100-p" *ngIf="competitionService.currentCompetition">
  <div class="container-fluid  pt-8 pb-8 mat-light-blue-600-bg title-header">
    <div class="container">
      <div class="row">
        <div class="w-100-p py-8" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex fxLayout="row">
            <div fxFlex="0 0 auto" fxLayoutAlign="flex-start" class="mr-16">
              <img class="logo" src="{{competitionService.currentCompetition.crestUrl}}"/>
            </div>
            <div fxFlex="1 0 auto" fxLayout="column" >
              <h1>{{competitionService.currentCompetition.caption}}</h1>
              <h3 *ngIf="contestService.currentContest.type == 'PUBLIC';else private">Public Contest</h3>
              <ng-template #private><h3>Private Contest</h3></ng-template>
            </div>
          </div>
          <div>
            <button mat-button > <mat-icon>star_rate</mat-icon> Participer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <mat-tab-group  [(selectedIndex)]="selectedIndex" *ngIf="contestService.currentContest && competitionService.currentCompetition">

      <mat-tab  label="Pronostics"> <app-prediction></app-prediction> </mat-tab>

      <mat-tab  label="Classement"> <app-standing></app-standing> </mat-tab>

      <mat-tab  label="Messages"> <app-message></app-message> </mat-tab>

      <mat-tab  label="Paramètres"> <app-settings></app-settings> </mat-tab>

      <mat-tab  label="Championnat"> <app-ranking></app-ranking> </mat-tab>

    </mat-tab-group>

</div>

<!--    <mat-tab-group  (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" [(selectedIndex)]="selectedIndex" >-->
