<div id="login" fxLayout="row" fxLayoutAlign="start">

  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

    <div class="logo" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
      <img src="assets/images/logos/fuse.svg">
    </div>

    <div class="title" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
      Welcome to Bettor League!
    </div>

    <div class="description" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat,
      vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
    </div>

  </div>

  <div id="login-form-wrapper" fusePerfectScrollbar *fuseIfOnDom
       [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">


  <div id="login-form">

      <div class="logo" fxHide.gt-xs>
        <span>F</span>
      </div>

      <div class="title">LOGIN TO YOUR ACCOUNT</div>

      <form name="loginForm" [formGroup]="loginForm" novalidate>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginFormErrors.email.required">
            Email is required
          </mat-error>
          <mat-error *ngIf="!loginFormErrors.email.required && loginFormErrors.email.email">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="loginFormErrors.password.required">
            Password is required
          </mat-error>
        </mat-form-field>

        <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="space-between center">
          <mat-checkbox class="remember-me" aria-label="Remember Me">
            Remember Me
          </mat-checkbox>

          <a class="forgot-password" [routerLink]="'/forgot-password'">
            Forgot Password?
          </a>
        </div>

        <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                (click)="onSubmit()"
                [disabled]="loginForm.invalid">
          LOGIN
        </button>

      </form>

      <div class="separator">
        <span class="text">OR</span>
      </div>

      <div fxLayout="column" fxLayoutAlign="start center">


        <form ngNoForm action="/signin/google"  method="POST" class="socialForm">
          <button type="submit" mat-raised-button class="google">
            Log in with Google
          </button>
        </form>

        <form ngNoForm action="/signin/facebook"  method="POST" class="socialForm">
          <button type="submit" mat-raised-button class="facebook">
            Log in with Facebook
          </button>
        </form>


      </div>

    <div class="separator">
      <span class="text">OR</span>
    </div>

      <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <span class="text">Don't have an account?</span>
        <a class="link" [routerLink]="'/register'">Create an account</a>
      </div>
    </div>
  </div>
</div>
