.blason {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Paris_Saint-Germain{
  background-image: url("https://upload.wikimedia.org/wikipedia/fr/8/86/Paris_Saint-Germain_Logo.svg");
}
.Toulouse_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/0/0a/FC_Toulouse_Logo.svg");
}
.AS_Monaco_FC{
  background-image: url("https://upload.wikimedia.org/wikipedia/fr/b/ba/AS_Monaco_FC.svg");
}
.Amiens_SC{
  background-image: url("https://upload.wikimedia.org/wikipedia/de/0/0d/SC_Amiens_Logo.svg");
}
.ES_Troyes_AC{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/bf/ES_Troyes_AC.svg");
}
.Stade_Rennais_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/b/b6/Stade_Rennais_Football_Club.svg");
}
.AS_Saint-Étienne{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/b/b1/AS_Saint-Etienne_(aktuell).svg");
}
.OGC_Nice{
  background-image: url("https://upload.wikimedia.org/wikipedia/fr/0/03/OGC_Nice_Logo.png");
}
.Olympique_Lyonnais{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/f/f1/Olympique_Lyon.svg");
}
.RC_Strasbourg_Alsace{
  background-image: url("https://upload.wikimedia.org/wikipedia/de/8/84/Racing_Club_Strasbourg.svg");
}
.Montpellier_Hérault_SC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/3/35/HSC_Montpellier_Logo.svg");
}
.SM_Caen{
  background-image: url("https://upload.wikimedia.org/wikipedia/fr/7/79/LogoSmc2013.png");
}
.FC_Metz{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/b/ba/FC_Metz_Logo.svg");
}
.EA_Guingamp{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/a/ae/EA_Guingamp_Logo.svg");
}
.OSC_Lille{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/0/08/LOSC_Lille_Crest_2012.png");
}
.FC_Nantes{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/5/50/FC_Nantes_(seit_2008).svg");
}
.Angers_SCO{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/0/0f/SCO_Angers.svg");
}
.FC_Girondins_de_Bordeaux{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/e/ea/Girondins_Bordeaux_Logo.svg");
}
.Olympique_de_Marseille{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/2/27/Olympique_Marseille_Logo.svg");
}
.Dijon_FCO{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/e/e1/FCO_Dijon.svg");
}
