.blason {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.Paris_Saint-Germain{
  background-image: url("https://upload.wikimedia.org/wikipedia/fr/8/86/Paris_Saint-Germain_Logo.svg");
}
.Toulouse_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/0/0a/FC_Toulouse_Logo.svg");
}
.AS_Monaco_FC{
  background-image: url("https://upload.wikimedia.org/wikipedia/fr/b/ba/AS_Monaco_FC.svg");
}
.Amiens_SC{
  background-image: url("https://upload.wikimedia.org/wikipedia/de/0/0d/SC_Amiens_Logo.svg");
}
.ES_Troyes_AC{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/bf/ES_Troyes_AC.svg");
}
.Stade_Rennais_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/b/b6/Stade_Rennais_Football_Club.svg");
}
.AS_Saint-Étienne{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/b/b1/AS_Saint-Etienne_(aktuell).svg");
}
.OGC_Nice{
  background-image: url("https://upload.wikimedia.org/wikipedia/fr/0/03/OGC_Nice_Logo.png");
}
.Olympique_Lyonnais{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/f/f1/Olympique_Lyon.svg");
}
.RC_Strasbourg_Alsace{
  background-image: url("https://upload.wikimedia.org/wikipedia/de/8/84/Racing_Club_Strasbourg.svg");
}
.Montpellier_Hérault_SC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/3/35/HSC_Montpellier_Logo.svg");
}
.SM_Caen{
  background-image: url("https://upload.wikimedia.org/wikipedia/fr/7/79/LogoSmc2013.png");
}
.FC_Metz{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/b/ba/FC_Metz_Logo.svg");
}
.EA_Guingamp{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/a/ae/EA_Guingamp_Logo.svg");
}
.OSC_Lille{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/0/08/LOSC_Lille_Crest_2012.png");
}
.FC_Nantes{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/5/50/FC_Nantes_(seit_2008).svg");
}
.Angers_SCO{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/0/0f/SCO_Angers.svg");
}
.FC_Girondins_de_Bordeaux{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/e/ea/Girondins_Bordeaux_Logo.svg");
}
.Olympique_de_Marseille{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/2/27/Olympique_Marseille_Logo.svg");
}
.Dijon_FCO{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/e/e1/FCO_Dijon.svg");
}
.Arsenal_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/en/5/53/Arsenal_FC.svg");
}
.Watford_FC{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/e/e2/Watford.svg");
}
.Liverpool_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/0/0a/FC_Liverpool.svg");
}
.Southampton_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/c/c9/FC_Southampton.svg");
}
.Swansea_City_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/a/ab/Swansea_City_Logo.svg");
}
.West_Bromwich_Albion_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/8/8b/West_Bromwich_Albion.svg");
}
.AFC_Bournemouth{
  background-image: url("https://upload.wikimedia.org/wikipedia/de/4/41/Afc_bournemouth.svg");
}

.Everton_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/f/f9/Everton_FC.svg");
}
.Stoke_City_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/a/a3/Stoke_City.svg");
}
.Crystal_Palace_FC{
  background-image: url("https://upload.wikimedia.org/wikipedia/fr/0/0c/Crystal_Palace_FC_logo.svg");
}
.Huddersfield_Town{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/5/5a/Huddersfield_Town_A.F.C._logo.svg");
}
.Chelsea_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/5/5c/Chelsea_crest.svg");
}
.Burnley_FC{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/0/02/Burnley_FC_badge.png");
}

.Brighton_&_Hove_Albion{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/f/fd/Brighton_&_Hove_Albion_logo.svg");
}
.Manchester_City_FC{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/e/eb/Manchester_City_FC_badge.svg");
}
.Newcastle_United_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/5/56/Newcastle_United_Logo.svg");
}

.Tottenham_Hotspur_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/b/b4/Tottenham_Hotspur.svg");
}
.Manchester_United_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/d/da/Manchester_United_FC.svg");
}
.West_Ham_United_FC{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/e/e0/West_Ham_United_FC.svg");
}
.FC_Bayern_München{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/1/1b/FC_Bayern_München_logo_(2017).svg");
}
.Bayer_Leverkusen{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/5/59/Bayer_04_Leverkusen_logo.svg");
}
.Hamburger_SV{
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/6/66/HSV-Logo.svg");
}
.FC_Augsburg{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/b/b5/Logo_FC_Augsburg.svg");
}
.Hertha_BSC{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/81/Hertha_BSC_Logo_2012.svg");
}
.VfB_Stuttgart{
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/a/ab/VfB_Stuttgart_Logo.svg");
}
.TSG_1899_Hoffenheim{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e7/Logo_TSG_Hoffenheim.svg");
}
.Werder_Bremen{
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/b/be/SV-Werder-Bremen-Logo.svg");
}
.1._FSV_Mainz_05{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/7/75/FSV_Mainz_05.svg");
}
.Hannover_96{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cd/Hannover_96_Logo.svg");
}

.VfL_Wolfsburg{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f3/Logo-VfL-Wolfsburg.svg");
}
.Borussia_Dortmund{
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/6/67/Borussia_Dortmund_logo.svg");
}
.FC_Schalke_04{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6d/FC_Schalke_04_Logo.svg");
}
.Red_Bull_Leipzig{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/0/04/RB_Leipzig_2014_logo.svg");
}
.SC_Freiburg{
  background-image: url("http://upload.wikimedia.org/wikipedia/de/f/f1/SC-Freiburg_Logo-neu.svg");
}
.Eintracht_Frankfurt{
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/0/04/Eintracht_Frankfurt_Logo.svg");
}
.Bor._Mönchengladbach{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/81/Borussia_Mönchengladbach_logo.svg");
}
.1._FC_Köln{
  background-image: url("https://upload.wikimedia.org/wikipedia/en/5/53/FC_Cologne_logo.svg");
}
