/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import "./splash";
@import '~@angular/material/theming';
//@import '~font-awesome/scss/font-awesome';

$primary:  mat-palette($mat-indigo);
$accent:  mat-palette($mat-green);
$accent-warn:  mat-palette($mat-red, A200, A100, A400);

$theme: mat-light-theme($primary, $accent, $accent-warn);
@include angular-material-theme($theme);

.extra-theme {
  $extra-primary: mat-palette($mat-teal);
  $extra-accent:  mat-palette($mat-yellow, 400);
  $extra-accent-warn:  mat-palette($mat-red, A200, A100, A400);
  $extra-theme: mat-light-theme($extra-primary, $extra-accent, $extra-accent-warn);
  @include angular-material-theme($extra-theme);
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
}

button:focus {
  outline: none;
}

.cardContainer{
  padding-top: 15px;
}

