@import "../@fuse/scss/core";
@import "./splash";
@import "./blason";
@import "~bootstrap/dist/css/bootstrap.css";

.extra-theme {
  $extra-primary: mat-palette($mat-gray, A200);
  $extra-accent:  mat-palette($mat-green);
  $extra-accent-warn:  mat-palette($mat-red, A200, A100, A400);
  $extra-theme: mat-light-theme($extra-primary, $extra-accent, $extra-accent-warn);
  @include angular-material-theme($extra-theme);
}

.extra-theme .mat-raised-button.mat-accent, .extra-theme .mat-fab.mat-accent, .extra-theme .mat-mini-fab.mat-accent{
  color: white;
}

.extra-theme .mat-raised-button.mat-primary, .extra-theme .mat-fab.mat-primary .extra-theme .mat-mini-fab.mat-primary{
  color: rgba(0,0,0,.6);
}
button:focus {
  outline: none;
}

.cardContainer{
  padding-top: 15px;
}

.mat-menu-content{
  padding: 0 !important;
}

.content{
  flex: 1 0 auto;
}

