<div id="homePage" class="page-layout simple " >

  <!-- HEADER -->
  <div class="header mat-accent-bg" fxLayout="column" fxLayoutAlign="center center">
    <div class="filter">

    </div>

    <div class="hero-text">
      <h1>Bet with your friends and have fun !</h1>
      <h3>Be amazed by the best pronostics website on the web!
        Your new app to show your abilities to your friends and to show them who's the best.
        Simple, elegant and well coded :) we are trying to make our users happy everyday !</h3>
    </div>

  </div>
  <!-- / HEADER -->

  <div class="content p-24 ">
    <h2>PRONOSTICS AVAILABLE FOR ALL MAJOR EUROPEAN LEAGUES</h2>
    <p>Build customer confidence by listing your users! Anyone who has used your service and has been pleased with it should have a place here! From Fortune 500 to start-ups, all your app enthusiasts will be glad to be featured in this section. Moreover, users will feel confident seing someone vouching for your product!</p>
    <div fxFlex="row" fxLayoutAlign="space-between">

      <img class="logo" src="https://upload.wikimedia.org/wikipedia/fr/9/9b/Logo_de_la_Ligue_1_%282008%29.svg"/>

      <img class="logo" src="https://upload.wikimedia.org/wikipedia/fr/2/23/Logo_La_Liga.png"/>

      <img class="logo" src="https://upload.wikimedia.org/wikipedia/en/f/f7/LegaSerieAlogoTIM.png"/>

      <img class="logo" src="https://upload.wikimedia.org/wikipedia/en/d/df/Bundesliga_logo_%282017%29.svg"/>

      <img class="logo" src="https://upload.wikimedia.org/wikipedia/fr/f/f2/Premier_League_Logo.svg"/>
    </div>
  </div>

  <div class="content p-24">
    <div fxFlex fxLayout="row">
      <div class="col-md-6 col-sm-12">
        <h2>FEATURES</h2>
        <h4>Private competitions</h4>
        <p>        Invite your friends and colleagues to predict with you on the sports competition of your choice.
          It's free, up to 40 participants per contest.
          Beyond 40 people, contact us to benefit from the company offer.
          Alternatively, join a public prognostic contest open to all.</p>
        <h4>Live</h4>
        <p>
          Updated scores and live rankings after each goal.
          Receive push notifications directly in your web browser or on your mobile to be alerted to the result.
          Do not miss a prognosis: receive a summary of your notifications every day by e-mail for the events you have selected</p>

      </div>
      <div class="col-md-6" fxHide fxShow.gt-xs>
        <img  class="featurelogo mat-elevation-z4" src="../../../assets/images/img/ecran.png">
      </div>
    </div>

  </div>
  <div class="content p-24" fxLayout="column">

    <!-- PRICE TABLES -->
    <div class="price-tables" fxLayout="row wrap">

      <div class="price-table style-2 mat-elevation-z4" fxLayout="column">

        <div class="package-type mat-accent-fg" fxFlex="0 0 auto">Create a prediction contest</div>

        <div fxFlex="1 0 auto" fxLayout="column">
          <img class="miniIcon" src="../../../assets/images/img/bet.png">
        </div>
        <div class="terms" fxLayout="column" fxLayoutAlign="start center">
          <div class="term">
            You can create a contest with your friends or join a public competition
          </div>
        </div>

      </div>

      <div class="price-table style-2 mat-elevation-z4" fxLayout="column">


        <div class="package-type mat-accent-fg" fxFlex="0 0 auto">Predict on the matches</div>
        <div fxFlex="1 0 auto" fxLayout="column">
          <img class="miniIcon" src="../../../assets/images/img/comp.png">
        </div>

        <div class="terms" fxLayout="column" fxLayoutAlign="start center">
          <div class="term">
            Via the application, by email or facebook
          </div>
        </div>


      </div>

      <div class="price-table style-2 mat-elevation-z4" fxLayout="column">

        <div class="package-type mat-accent-fg" fxFlex="0 0 auto">Invite your friends to join you in this game</div>
        <div fxFlex="1 0 auto" fxLayout="column">
          <img class="miniIcon" src="../../../assets/images/img/social.png">
        </div>


        <div class="terms" fxLayout="column" fxLayoutAlign="start center">
          <div class="term">
            Prognose and show others who is the best
          </div>
        </div>
      </div>

    </div>
    <!-- / PRICE TABLES -->
  </div>

</div>

