.full-width{
    width: 100%;
}
.cardContainer mat-card{
    margin: auto;
}

#login-v2 {
    background-position: bottom !important;
}

#loginError {
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
}
