<mat-toolbar class="mat-elevation-z2 toolbarBettorLeague mat-white-500-bg" *ngIf="headerService.isOpen()">

    <div class="container nav-container">
        <div class="row">

          <div fxShow fxHide.gt-sm class="align-self-end toolbar-separator"></div>
            <div class=" align-self-start 	d-lg-none">
                <button class="user-button" mat-button (click)="openSidenav()"><mat-icon>menu</mat-icon></button>
            </div>
          <div fxShow fxHide.gt-sm class="align-self-end toolbar-separator"></div>

            <div class=" align-self-start 	d-none d-lg-block" >
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button  class="user-button"  mat-button routerLink="/">Bettor League</button>
                </div>
            </div>

          <div class="col align-self-start"></div>

          <div *ngIf="!hasSignedIn()" class="align-self-end toolbar-separator"></div>
            <div class="align-self-end" *ngIf="!hasSignedIn()">
                <button mat-button class="user-button"  routerLink="/login" >
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Connexion</span>
                </button>
            </div>
          <div *ngIf="hasSignedIn()" class="align-self-end toolbar-separator"></div>
            <div class="align-self-end" *ngIf="hasSignedIn()">

                <button mat-button [matMenuTriggerFor]="more" class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="avatar" src="../../../assets/images/avatars/profile.jpg">
                        <span class="username ml-12 mr-12" fxHide fxShow.gt-sm>{{hasSignedIn() ? getCurrentUser().username : 'guest' }}</span>
                        <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                    </div>
                </button>
                <mat-menu #more="matMenu" class=""[overlapTrigger]="false" yPosition="below">
                    <button id="profileBtn" *ngIf="hasSignedIn()" mat-menu-item routerLink="/profile" >
                        <mat-icon>face</mat-icon>
                        <span>Voir mon Profil</span>
                    </button>

                  <!--<button  *ngIf="hasSignedIn()" mat-menu-item routerLink="/profile" >
                    <mat-icon>mode_edit</mat-icon>
                    <span>Editer mon Profil</span>
                  </button>-->
                  <mat-divider *ngIf="hasSignedIn()" ></mat-divider>
                    <button id="logoutBtn" *ngIf="hasSignedIn()" mat-menu-item (click)="onLogout()" >
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Se déconnecter</span>
                    </button>
                </mat-menu>
            </div>

          <div *ngIf="hasSignedIn()" class="align-self-end toolbar-separator"></div>
          <div class="align-self-end" *ngIf="hasSignedIn()">
            <button mat-button [matMenuTriggerFor]="appConcours" class="user-button">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>bookmark</mat-icon>
                <span class="username ml-12 mr-12" fxHide fxShow.gt-sm>Concours</span>
                <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
              </div>
            </button>

            <mat-menu #appConcours="matMenu"  [overlapTrigger]="false" yPosition="below" >
              <button *ngFor="let contest of getContestUser()" mat-menu-item [routerLink]="'/contest/'+contest.id">
                <!--<span [style.background-image]="'url(' + + ')'"></span>--><span>{{contest.caption}}</span>
              </button>
              <mat-divider ></mat-divider>
              <button  mat-menu-item routerLink="/contest" >
                <span>Tous les concours</span>
              </button>
            </mat-menu>

          </div>

          <div class="align-self-end toolbar-separator"></div>
            <div class="align-self-end">

                <mat-menu #appMenu="matMenu"  [overlapTrigger]="false" yPosition="below" >
                    <button mat-menu-item (click)="translate.use(lang)" *ngFor="let lang of translate.langs">{{lang}}</button>
                </mat-menu>


                <button mat-button [matMenuTriggerFor]="appMenu" class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon>language</mat-icon>
                        <span class="username ml-12 mr-12"fxHide fxShow.gt-sm>{{translate.currentLang}}</span>
                        <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                    </div>
                </button>
            </div>

          <div class="align-self-end toolbar-separator"></div>


          <div class="align-self-end" *ngIf="hasSignedIn()" >
            <button mat-button (click)="sidenavService.toggleNotif()" class="user-button">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon class="icon">format_list_bulleted</mat-icon>
              </div>
            </button>
          </div>

          <div class="align-self-end toolbar-separator" *ngIf="hasSignedIn()" ></div>

        </div>


    </div>
</mat-toolbar>

