<mat-toolbar class="mat-elevation-z1" *ngIf="isOpen()">

  <div class="container">
    <div class="row">
      <div class="col align-self-start 	d-lg-none">
        <button class="user-button" mat-button (click)="openSidenav()"><mat-icon>menu</mat-icon></button>
      </div>

      <div class="col align-self-start 	d-none d-lg-block" >
        <div fxLayout="row" fxLayoutAlign="start center">
          <button  class="user-button"  mat-button routerLink="/">{{ 'Nav.Home' | translate}}</button>
          <button  class="user-button"  mat-button routerLink="/user">{{ 'Nav.User' | translate }}</button>
        </div>
      </div>
      <div class="align-self-end">

        <button mat-button [matMenuTriggerFor]="more" class="user-button">
          <div fxLayout="row" fxLayoutAlign="center center">
            <img class="avatar" src="../../../assets/images/avatars/profile.jpg">
            <span class="username mr-12" fxHide fxShow.gt-sm>{{hasSignedIn() ? getCurrentUser().username : 'guest' }}</span>
            <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
          </div>
        </button>

        <mat-menu #more="matMenu" [overlapTrigger]="false" yPosition="below">
          <button id="profileBtn" *ngIf="hasSignedIn()" mat-menu-item routerLink="/profile" >
            <mat-icon>face</mat-icon>
            <span>Profile</span>
          </button>
          <button id="loginBtn" *ngIf="!hasSignedIn()" mat-menu-item routerLink="/login" >
            <mat-icon>account_circle</mat-icon>
            <span>Login</span>
          </button>
          <button id="logoutBtn" *ngIf="hasSignedIn()" mat-menu-item (click)="onLogout()" >
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
      <div class="align-self-end">

        <mat-menu #appMenu="matMenu"  [overlapTrigger]="false" yPosition="below" >
          <button mat-menu-item (click)="translate.use(lang)" *ngFor="let lang of translate.langs">{{lang}}</button>
        </mat-menu>


        <button mat-button [matMenuTriggerFor]="appMenu" class="user-button">
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>language</mat-icon> {{translate.currentLang}}
          </div>
        </button>
      </div>

    </div>

  </div>
</mat-toolbar>

