<div id="profilePage" class="page-layout simple" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Welcome to our page</h1>
    </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24 mat-white-bg" *ngIf="userInfo">

    <div class="ui column sixteen wide">

      <section class="profil-section">

        <div class="ui items">
          <div class="item">
            <div class="content" fxLayout="row" fxLayoutAlign="center center" ng-reflect-layout="row" ng-reflect-align="center center">
              <img src="../../../../assets/images/avatars/profile.jpg" alt="" class="avatar">
              <h1>{{ userInfo.username}}</h1>
              <button class="ui button green floated right">Modifier</button>
            </div>
          </div>
        </div>
      </section>


      <!-- STATS -->
      <section class="profil-section">
        <h2 class="ui horizontal divider header">
          <i class="bar chart icon"></i> Mes Statistiques
        </h2>
        <div class="ui statistics three columns stackable grid">
          <div class="statistic column center aligned ">
            <div class="value">
              100
            </div>
            <div class="label">Pronostiques </div>
          </div>

          <div class="statistic column center aligned ">
            <div class="value">
              43
            </div>
            <div class="label">Bons Pronos </div>
          </div>

          <div class="statistic column center aligned">
            <div class="value">
              9
            </div>
            <div class="label">Scores Exactes </div>
          </div>
        </div>
      </section>

      <!-- MES CONCOURS -->
      <section class="profil-section">
        <h2 class="ui horizontal divider header">
          <i class="trophy icon"></i> Mes Concours
        </h2>

        <div class="ui segments" *ngIf="contestPlayedList">
          <div class="ui blue segment">

            <h1> <i class="trophy icon"></i> Mes Concours</h1>
          </div>
          <div *ngFor="let contest of contestPlayedList" class="ui segment">
            <div class="playerContest-header">
              <a href="/contest/{{contest.id}}">{{ contest.caption }}</a>
              {{ contest.type }}
            </div>
            <div class="playerContest-description">Classé 123<sup>e</sup></div>
            <div class="ui top right attached label green">En Cours</div>
          </div>
        </div>
      </section>

      <!-- REJOINDRE UN CONCOURS -->
      <section class="profil-section">

        <h2 class="ui horizontal divider header">
          <i class="edit icon"></i> Gérer les Concours
        </h2>

        <sui-tabset>
          <div class="ui top attached tabular menu">
            <a class="item" suiTabHeader="1"><i class="users icon"></i> Rejoindre</a>
            <a class="item" suiTabHeader="2"><i class="magic icon"></i> Créer</a>
          </div>

          <!-- Rejoindre un concours -->
          <div class="ui bottom attached segment" suiTabContent="1">
            <div class="ui segments" *ngIf="allPublicContest">

              <div class="ui blue segment">
                <h1> <i class="users icon"></i> Rejoindre un concours public</h1>
              </div>

              <div *ngFor="let contest of allPublicContest" class="ui segment two column grid">
                <div class="column">
                  <div class="playerContest-header">
                    <a href="/contest/{{contest.id}}">{{ contest.caption }}</a>
                    {{ contest.type }}
                  </div>
                  <div class="playerContest-description">Classé 123<sup>e</sup></div>
                </div>
                <div class="column">
                  <button *ngIf="!contestPlayedIdList.includes(contest.id)" class="ui button green" style="float: right;" (click)="joinContest(contest.id)">Rejoindre</button>
                  <button *ngIf="contestPlayedIdList.includes(contest.id)" class="ui button red" style="float: right;" (click)="quitContest(contest.id)">Quitter</button>
                </div>

              </div>
            </div>
          </div>

          <div class="ui bottom attached segment" suiTabContent="2">Second tab!</div>
        </sui-tabset>
      </section>

      </div>
    </div>
    <!-- / CONTENT -->

</div>
