@import "../../../../@fuse/scss/fuse";

#profilePage {

  .content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    .divider {
      color: #000000 !important
    }

    .numeric-stats {
      font-weight: 700;
    }

    .playerContest-header {
      a {
        text-decoration: none;
        font-weight: 700;
      }
    }

    .profil-section {
      margin-bottom: 70px;
    }
  }
}
