<p>
    {{ 'Nav.Ranking' | translate}}
</p>

<div class="container cardContainer">
    <mat-progress-bar
            *ngIf="!ligue1Ranking"
            [color]="'primary'"
            [mode]="'indeterminate'">
    </mat-progress-bar>

    <mat-table id="userTable" #table [dataSource]="ligue1Ranking" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="Position">
            <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.position}}
            </mat-cell>
        </ng-container>

        <!-- Equipe -->
        <ng-container matColumnDef="Equipe">
            <mat-header-cell *matHeaderCellDef> {{ 'Ranking.equipe' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.teamName}} </mat-cell>
        </ng-container>

        <!-- Blason -->
        <ng-container matColumnDef="Blason">
            <mat-header-cell *matHeaderCellDef> Blason</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <img src={{element.crestURI}} alt="" style="width: 30px">
            </mat-cell>
        </ng-container>

        <!-- Points -->
        <ng-container matColumnDef="Points">
            <mat-header-cell *matHeaderCellDef> Points </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.points}}</mat-cell>
        </ng-container>

        <!-- Matchs joués -->
        <ng-container matColumnDef="Matchs joués">
            <mat-header-cell *matHeaderCellDef>{{ 'Ranking.matchs joués' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.playedGames}} </mat-cell>
        </ng-container>

        <!-- Buts -->
        <ng-container matColumnDef="Buts">
            <mat-header-cell *matHeaderCellDef>{{ 'Ranking.buts' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element" class="buts"> {{element.goals}} </mat-cell>
        </ng-container>

        <!-- Buts contre -->
        <ng-container matColumnDef="Buts contre">
            <mat-header-cell *matHeaderCellDef>{{ 'Ranking.buts contre' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="buts-contre"> {{element.goalsAgainst}} </mat-cell>
        </ng-container>

        <!-- Goal difference -->
        <ng-container matColumnDef="Difference de buts">
            <mat-header-cell *matHeaderCellDef>{{ 'Ranking.difference buts' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">
                 {{element.goalDifference}}
            </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="['Position','Blason', 'Equipe', 'Points', 'Matchs joués', 'Buts', 'Buts contre', 'Difference de buts']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['Position','Blason', 'Equipe', 'Points', 'Matchs joués', 'Buts', 'Buts contre', 'Difference de buts']"></mat-row>
    </mat-table>
</div>
