<mat-toolbar *ngIf="headerService.isOpen()" fxHide fxShow.gt-sm fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign="space-between center">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign="space-between center" fxFlex>

      <div fxLayout="row" fxLayoutAlign="start center" >
        <button  mat-button routerLink="/confidentialite">Politique de confidentialite</button>
        <button  mat-button routerLink="/about">À Propos</button>
        <button  mat-button routerLink="/contact">Nous contacter</button>
      </div>

    </div>
  </div>


</mat-toolbar>

