<mat-toolbar *ngIf="headerService.isOpen()" >
  <div class="container-fluid">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign="space-between center" fxFlex>

      <div fxLayout="row" fxLayoutAlign="start center" >
        <button  mat-button routerLink="/confidentialite">Politique de confidentialite</button>
        <button  mat-button routerLink="/about">À Propos</button>
        <button  mat-button routerLink="/contact">Nous contacter</button>
      </div>

    </div>
  </div>


</mat-toolbar>

